/*ARQUIVO CSS PARA ESTILIZAÇÃO DA PÁGINA PROTIFÓLIO DO SITE MOBILE*/

#avisoSobrePortifolio{
	color:#ff0000;
	font-weight: bold;
	font-size: 16px;
	display: block;
	margin: 10px;
}

.TituloPortifolio{
	color:#1874cd;
	font-size: 30px;
}

.tituloDescricaoProjeto{
	color: #006699;
	font-size: 28px;
	text-align: center;
}

.caixaDescricaoProjeto{
	width: 100%;
	height: auto;
	padding: 10px;
	margin-top: 30px; 
	float: left;
	text-align: justify;
}

.caixaDescricaoPortifolio{
	width: 100%;
	height: auto;
	padding: 20px;
	float: left;
	text-align: justify;
}

.caixaDescricaoPortifolio p{
	font-size: 18px;
}

.caixaDescricaoPortifolio a{
	font-size: 22px;
	margin-top: 10px;
	float: right;
}	

.subtituloProjeto{
	margin-left: 20px;
	color:#3399ff;
	font-size: 22px;
}

.caixaImagemProjeto{
	width: 100%;
	clear: both;
	height: 350px;
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center;
	
}

#caixaImagemProjetoIntegrado{
	background-image: url(../img/portifolio/projetointegrado.png);
}

#caixaImagemProjetoWeb{
	background-image: url(../img/wallpaper/ecomerce.png);
}

#caixaImagemProjetoMobile{
	background-image: url(../img/portifolio/projetomobile.png);
}

#caixaImagemProjetoDesktop{
	background-image: url(../img/portifolio/projetodesktop.png);
}

#caixaImagemProjetoWeb{
	background-image: url(../img/portifolio/projetoweb.png);
}

.caixaImagemPortifolio{
	width: 100%;
	height: auto;
	border:solid 1px #ccc;
	margin-bottom: 80px;
}

.caixaImagemPortifolio img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

